@use '../abstracts/' as *;

.canvas-container {
    border-color: $secondary-color;
    border-style: double;
    background-color: $canvas-background;
    width: 50%;
    padding: 0.5rem;
    margin-top: 10rem;
    height: 80vh;
    overflow-y: scroll;
    @include flexbox(column, nowrap, flex-start, center, 0);
}

.general-canvas {
    width: 100%;
    height: fit-content;
    @include flexbox(column, nowrap, flex-start, center, 0)
}

.general-canvas>h1 {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    color: $canvas-text-color;
    text-align: center;
}

.general-canvas__contact {
    width: 100%;
    color: $canvas-text-color;
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
}

.general-canvas>hr {
    border-color: $light-grey;
    border-width: 2px;
    width: 100%;
    margin-top: 1rem;
}

.profile-canvas {
    width: 100%;
    margin-top: 0.75rem;
    height: fit-content;
}

.profile-canvas>p {
    color: $canvas-text-color;
    text-align: left;
}